In [1]:
# 기출문제6회_제2유형

In [2]:
# 아래는 학생들의 생활패턴과 신체, 거주지역 등에 대한 데이터이다.
# 1. 데이터 : data_6_2_train.csv
# 2. 데이터 : data_6_2_test.csv

In [3]:
# 학생 530명에 대한 학습용 데이터를 이용하여 학생구분(유치원생, 초등학생, 중학생, 고등학생, 대학생) 예측 모형을 만든후,
# 이를 평가용 데이터에 적용하여 얻은 230명 학생의 구분을 다음과 같은 csv파일로 생성하시오
# (제출한 모델의 성능은 f1-macro 평가에 따라 채점)

In [1]:
import pandas as pd
train_df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_train.csv')
test_df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_test.csv')

In [2]:
print(train_df)

     일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역    구분
0       7.35     7.74          4.8   Tall  52.050   L  1499.4   동구  고등학생
1       7.05     8.10          1.2   Tall  51.300   M  1624.4   서구   중학생
2       7.35     7.74          3.0   Tall  51.285   L  1499.4   동구  고등학생
3       8.58     6.66          4.8  Short  25.545  XS  1249.5   서구  초등학생
4       7.05     8.10          4.8   Tall  54.150   M  1624.4   서구   대학생
..       ...      ...          ...    ...     ...  ..     ...  ...   ...
525    10.11     5.58          4.8  Short  25.185  XS  1874.3   동구  초등학생
526     8.27     6.84          1.2   Tall  51.165   M  2124.2   동구  고등학생
527     7.35     7.74          1.2   Tall  40.995   L  1499.4   동구   중학생
528    10.11     5.58          0.0  Short  18.330  XS  1874.3   동구  유치원생
529     6.44     8.82          3.0   Tall  44.535   S  1499.4   동구  고등학생

[530 rows x 9 columns]

In [3]:
print(test_df)

     일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역
0       7.97     7.11          1.2   Tall  51.375   L  1749.3   북구
1       9.80     5.76          1.2  Short  28.710  XS  1749.3   북구
2       7.66     7.38          1.2   Tall  36.915   L  1624.4   남구
3       9.50     5.94          3.0  Short  24.045  XS  1624.4   동구
4       6.44     8.82          3.0   Tall  45.180   S  1499.4   서구
..       ...      ...          ...    ...     ...  ..     ...  ...
225     9.80     5.76          3.0  Short  30.195  XS  1749.3   북구
226     8.58     6.66          4.8  Short  25.875  XS  1249.5   동구
227     8.27     6.84          1.2   Tall  50.460   M  2124.2   남구
228     7.66     7.38          4.8   Tall  48.645   L  1624.4   북구
229     9.80     5.76          4.8  Short  33.375  XS  1749.3   남구

[230 rows x 8 columns]

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      530 non-null    float64
 1   일평균학습시간      530 non-null    float64
 2   일평균스마트폰사용시간  530 non-null    float64
 3   키            530 non-null    object
 4   몸무게          530 non-null    float64
 5   체격           530 non-null    object
 6   기초대사량        530 non-null    float64
 7   거주지역         530 non-null    object
 8   구분           530 non-null    object
dtypes: float64(5), object(4)
memory usage: 37.4+ KB

In [5]:
train_df.describe(include='object')

           키   체격 거주지역    구분
count    530  530  530   530
unique     2    4    4     5
top     Tall   XS   남구  유치원생
freq     277  253  145   140

In [6]:
train_df.isnull().sum()

일평균수면시간        0
일평균학습시간        0
일평균스마트폰사용시간    0
키              0
몸무게            0
체격             0
기초대사량          0
거주지역           0
구분             0
dtype: int64

In [9]:
train_df['구분'].value_counts()

구분
유치원생    140
초등학생    121
고등학생    120
대학생      78
중학생      71
Name: count, dtype: int64

In [10]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      230 non-null    float64
 1   일평균학습시간      230 non-null    float64
 2   일평균스마트폰사용시간  230 non-null    float64
 3   키            230 non-null    object
 4   몸무게          230 non-null    float64
 5   체격           230 non-null    object
 6   기초대사량        230 non-null    float64
 7   거주지역         230 non-null    object
dtypes: float64(5), object(3)
memory usage: 14.5+ KB

In [ ]:
test_df.describe(include='object')

In [11]:
test_df.isnull().sum()

일평균수면시간        0
일평균학습시간        0
일평균스마트폰사용시간    0
키              0
몸무게            0
체격             0
기초대사량          0
거주지역           0
dtype: int64

In [12]:
targetVal = train_df.pop('구분')

In [13]:
print(train_df.shape, test_df.shape)

train_df = pd.get_dummies(train_df)
test_df = pd.get_dummies(test_df)

print(train_df.shape, test_df.shape)

(530, 8) (230, 8)
(530, 15) (230, 15)

In [14]:
from sklearn.model_selection import train_test_split

train_x, validation_x, train_y, validation_y = train_test_split(train_df, targetVal, test_size=0.2, random_state=0)
print(train_x.shape, validation_x.shape, train_y.shape, validation_y.shape)

(424, 15) (106, 15) (424,) (106,)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

rfc = RandomForestClassifier(random_state=0)
rfc.fit(train_x, train_y)
prediction_val = rfc.predict(validation_x)

f1_score(validation_y, prediction_val, average='macro')

0.9317983948418732

In [16]:
prediction_test = rfc.predict(test_df)
result = pd.DataFrame({'pred':prediction_test})
print(result)

result.to_csv('result.csv', index=False)

     pred
0    고등학생
1    초등학생
2     중학생
3    유치원생
4    고등학생
..    ...
225  초등학생
226  초등학생
227  고등학생
228  고등학생
229  초등학생

[230 rows x 1 columns]