In [1]:
# 모의고사2회_제3유형

In [2]:
# 데이터셋 : https://raw.githubusercontent.com/YoungjinBD/dataset/main/HR-Employee-Attrition.csv
# 결혼유무(미혼,결혼,이혼)에 따라 초과근로 여부에 차이가 있는지 카이제곱 검정을 이용하여 확인하시오

In [3]:
# 1번. 주어진 데이터로 결혼유무와 초과근로 간의 분할표를 만들고, 결혼한 집단의 초과근로자수와 초과근로하지 않은자 수의 차이를 정수로 계산하시오  
# 2번. 가설검정을 위한 통계량을 소수점 둘째자리까지 반올림하여 구하시오
# 3번. 통계량에 대한 p-value 값을 소수점 넷째자리까지 반올림하여 구하고, 유의수준 0.05내에서 결과를 논하시오

In [4]:
import pandas as pd
import scipy.stats as stats

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/HR-Employee-Attrition.csv')

In [5]:
df[['MaritalStatus','OverTime']]

     MaritalStatus OverTime
0           Single      Yes
1          Married       No
2           Single      Yes
3          Married      Yes
4          Married       No
...            ...      ...
1465       Married       No
1466       Married       No
1467       Married      Yes
1468       Married       No
1469       Married       No

[1470 rows x 2 columns]

In [6]:
table = pd.crosstab(df['OverTime'], df['MaritalStatus'])
print(table)

MaritalStatus  Divorced  Married  Single
OverTime
No                  228      487     339
Yes                  99      186     131

In [7]:
X1 = table.loc['Yes', :]
X2 = table.loc['No', :]
print(X1)
print(X2)

MaritalStatus
Divorced     99
Married     186
Single      131
Name: Yes, dtype: int64
MaritalStatus
Divorced    228
Married     487
Single      339
Name: No, dtype: int64

In [8]:
X1_Married = X1['Married']
X2_Married = X2['Married']
print(int(abs(X1_Married - X2_Married)))

301

In [9]:
result = stats.chi2_contingency([X1,X2])
print(round(result.statistic,2))

0.82

In [10]:
p_value = result.pvalue
print(round(p_value, 4))

if p_value < 0.05:
    print('기각')
else :
    print('채택')

0.6647
채택