In [1]:
#모의고사 1회문제

In [2]:
#!------------------<제1유형>

# 데이터셋:https://raw.githubusercontent.com/YoungjinBD/dataset/main/airquality.csv
# 주어지는 데이터는 153일 동안 공기의 질을 측정한 데이터이다

# (1번) airquality 데이터에 대해서 결측치가 가장 많은 변수를 찾아서 해당 결측치를 0으로 대치하고,
#                          결측치를 제외한 평균과 0으로 대치한 후의 평균과의 차이를 구하시오

# (2번) Wind 변수에 대해서 Min-Max 정규화를 수행한후 평균값과 Z-정규화를 수행한후의 평균값의 차이를 구하시오

# (3번) 월별(5월~9월) 평균 기온을 구하시오

In [3]:
import pandas as pd
import numpy as np
import sklearn

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/airquality.csv")

In [5]:
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

In [7]:
print(df['Ozone'].isnull().sum())
ozone_mean = df['Ozone'].mean()

37

In [8]:
df['Ozone'].fillna(0,inplace=True)

print(df['Ozone'].isnull().sum())
ozone_after_mean = df["Ozone"].mean()

print(ozone_mean)
print(ozone_after_mean)

0
42.12931034482759
31.941176470588236

In [9]:
print(ozone_mean - ozone_after_mean)

10.188133874239352

In [10]:
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [11]:
min = np.min(df['Wind'])
max = np.max(df['Wind'])
df['min_max'] = round((df['Wind']-min)/(max-min),2)

In [12]:
mean = np.mean(df['Wind'])
std = np.std(df['Wind'])
df['z'] =round((df['Wind'] - mean) / std, 2)

In [13]:
df.describe()

,Ozone,Solar.R,Wind,Temp,Month,Day,min_max,z
count,153.000000,146.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,31.941176,185.931507,9.957516,77.882353,6.993464,15.803922,0.433333,-0.000065
std,33.924497,90.058422,3.523001,9.465270,1.416522,8.864520,0.185696,1.003679
min,0.000000,7.000000,1.700000,56.000000,5.000000,1.000000,0.000000,-2.350000
25%,4.000000,115.750000,7.400000,72.000000,6.000000,8.000000,0.300000,-0.730000
50%,21.000000,205.000000,9.700000,79.000000,7.000000,16.000000,0.420000,-0.070000
75%,46.000000,258.750000,11.500000,85.000000,8.000000,23.000000,0.520000,0.440000
max,168.000000,334.000000,20.700000,97.000000,9.000000,31.000000,1.000000,3.060000

In [15]:
print(df.groupby('Month')['Temp'].mean())

Month
5    65.548387
6    79.100000
7    83.903226
8    83.967742
9    76.900000
Name: Temp, dtype: float64