In [1]:
### 레스토랑의	tip	예측	문제- 데이터의	결측치,	이상치,	변수에	대해	처리하고- 회귀모델을	사용하여	Rsq,	MSE	값을	산출하시오.
# 데이터셋	설명
# total_bill(총	청구액):	손님의	식사	총	청구액
# tip(팁):	팁의	양
# sex(성별):	손님의	성별
# smoker(흡연자):	손님의	흡연	여부("Yes"	또는	"No")
#  *모든 자료에 대한 권한은 메타코드에 있으며, 무단으로 자료를 복제 및 배포 등 유료목적으로 활용하시면 별도의 조치가 들어갈 수 있습니다.
# day(요일):	식사가	이루어진	요일
# time(시간):	점심	또는	저녁	중	언제	식사가	이루어졌는지
# size(인원	수):	식사에	참석한	인원	수

In [2]:
# 답안 제출 참고
# 아래 코드는 예시이며 변수명 등 개인별로 변경하여 활용
# write.csv(data.frame변수,"result.csv",row.names = FALSE)

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
###############		복사	영역		###############
#	실기	시험	데이터셋으로	셋팅하기	(수정금지)
import	seaborn	as	sns
#	tips	데이터셋	로드
df	=	sns.load_dataset('tips')
x	=	df.drop(['tip'],	axis=1)	
y	=	df['tip']
#	실기	시험	데이터셋으로	셋팅하기	(수정금지)
from	sklearn.model_selection	import	train_test_split
x_train,	x_test,	y_train,	y_test	=	train_test_split(x,	y,	test_size=0.2,	random_state=2024)
x_test	=	pd.DataFrame(x_test.reset_index())
x_train	=	pd.DataFrame(x_train.reset_index())
y_train	=	pd.DataFrame(y_train.reset_index())
x_test.rename(columns={'index':'cust_id'},	inplace=True)
x_train.rename(columns={'index':'cust_id'},	inplace=True)
y_train.columns	=	['cust_id',	'target']	
###	참고사항	###	
#	y_test	는	실기	문제상에	주어지지	않음
#	★Tip	:	X를	대문자로	쓰지말고	소문자	x로	쓰세요.	시험에서	실수하기	쉽습니다.(문제풀기	전에	소문자로	변경!)
#	(참고	:	보통	X는	2차원	배열(행렬)이기	때문에	대문자로	쓰고,	y는	1차원	배열(벡터)이기	때문에	소문자로	씀)
#	(~23년	10월말)	실기시험	데이터	형식	(실제	시험장에서는	다를	수	있으니	반드시	체크)	
#	X_test	=	pd.read_csv("data/X_test.csv")
#	X_train	=	pd.read_csv("data/X_train.csv")
#	y_train	=	pd.read_csv("data/y_train.csv")
#	★(23년	10월말~)	기준으로	체험환경에서	제공되는	데이터셋이	조금	변경되었습니다.	
#	train	=	pd.read_csv("data/customer_train.csv")
#	test	=	pd.read_csv("data/customer_test.csv")
#	x_train과	y_train,	x_test를	별도로	할당해주셔야	합니다.

In [5]:
x_train.head()

   cust_id  total_bill     sex smoker   day    time  size
0      209       12.76  Female    Yes   Sat  Dinner     2
1       88       24.71    Male     No  Thur   Lunch     2
2        2       21.01    Male     No   Sun  Dinner     3
3      142       41.19    Male     No  Thur   Lunch     5
4      125       29.80  Female     No  Thur   Lunch     6

In [6]:
y_train.head()

   cust_id  target
0      209    2.23
1       88    5.85
2        2    3.50
3      142    5.00
4      125    4.20

In [7]:
x_test.head()

   cust_id  total_bill     sex smoker   day    time  size
0      239       29.03    Male     No   Sat  Dinner     3
1      238       35.83  Female     No   Sat  Dinner     3
2      170       50.81    Male    Yes   Sat  Dinner     3
3      156       48.17    Male     No   Sun  Dinner     6
4      134       18.26  Female     No  Thur   Lunch     2

In [8]:
x_train.shape

(195, 7)

In [9]:
y_train.shape

(195, 2)

In [10]:
x_test.shape

(49, 7)

In [11]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     195 non-null    int64
 1   total_bill  195 non-null    float64
 2   sex         195 non-null    category
 3   smoker      195 non-null    category
 4   day         195 non-null    category
 5   time        195 non-null    category
 6   size        195 non-null    int64
dtypes: category(4), float64(1), int64(2)
memory usage: 6.0 KB

In [12]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  195 non-null    int64
 1   target   195 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 3.2 KB

In [13]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     49 non-null     int64
 1   total_bill  49 non-null     float64
 2   sex         49 non-null     category
 3   smoker      49 non-null     category
 4   day         49 non-null     category
 5   time        49 non-null     category
 6   size        49 non-null     int64
dtypes: category(4), float64(1), int64(2)
memory usage: 2.0 KB

In [14]:
# 결측치 처리 (결측치 없음)

x_train.isnull().sum()

cust_id       0
total_bill    0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [15]:
y_train.isnull().sum()

cust_id    0
target     0
dtype: int64

In [16]:
x_test.isnull().sum()

cust_id       0
total_bill    0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [17]:
# 이상치 처리

In [18]:
x_train.describe()

          cust_id  total_bill        size
count  195.000000  195.000000  195.000000
mean   122.394872   19.754564    2.589744
std     70.734606    8.699479    0.977002
min      2.000000    3.070000    1.000000
25%     61.500000   13.380000    2.000000
50%    123.000000   17.590000    2.000000
75%    183.500000   24.535000    3.000000
max    243.000000   48.330000    6.000000

In [19]:
# 변수 처리

# x_train 데이터 복사



x_train = x_train.drop(columns = 'cust_id')
x_train.head()

   total_bill     sex smoker   day    time  size
0       12.76  Female    Yes   Sat  Dinner     2
1       24.71    Male     No  Thur   Lunch     2
2       21.01    Male     No   Sun  Dinner     3
3       41.19    Male     No  Thur   Lunch     5
4       29.80  Female     No  Thur   Lunch     6

In [20]:

y_train = y_train.drop(columns = 'cust_id')
y_train.head()

   target
0    2.23
1    5.85
2    3.50
3    5.00
4    4.20

In [21]:
x_test2= x_test.copy()

In [22]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder


le = LabelEncoder()

x_train = pd.get_dummies(x_train,columns=['sex','smoker'])
x_test= pd.get_dummies(x_test,columns=['sex','smoker'])

x_train['day'] = le.fit_transform(x_train['day'])
x_test['day'] = le.transform(x_test['day'])

x_train['time'] = le.fit_transform(x_train['time'])
x_test['time'] = le.transform(x_test['time'])

In [23]:
x_train.head()

   total_bill  day  time  size  sex_Male  sex_Female  smoker_Yes  smoker_No
0       12.76    1     0     2     False        True        True      False
1       24.71    3     1     2      True       False       False       True
2       21.01    2     0     3      True       False       False       True
3       41.19    3     1     5      True       False       False       True
4       29.80    3     1     6     False        True       False       True

In [24]:
x_test.head()

,cust_id,total_bill,day,time,size,sex_Male,sex_Female,smoker_Yes,smoker_No
0,239,29.03,1,0,3,True,False,False,True
1,238,35.83,1,0,3,False,True,False,True
2,170,50.81,1,0,3,True,False,True,False
3,156,48.17,2,0,6,True,False,False,True
4,134,18.26,3,1,2,False,True,False,True

In [25]:
x_train[['sex_Male', 'sex_Female', 'smoker_Yes','smoker_No']] = x_train[['sex_Male', 'sex_Female', 'smoker_Yes','smoker_No']].replace({True:1, False:0})
x_test[['sex_Male', 'sex_Female', 'smoker_Yes','smoker_No']] = x_test[['sex_Male', 'sex_Female', 'smoker_Yes','smoker_No']].replace({True:1, False:0})

C:\Users\admin\AppData\Local\Temp\ipykernel_11084\3115032759.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x_train[['sex_Male', 'sex_Female', 'smoker_Yes','smoker_No']] = x_train[['sex_Male', 'sex_Female', 'smoker_Yes','smoker_No']].replace({True:1, False:0})
C:\Users\admin\AppData\Local\Temp\ipykernel_11084\3115032759.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x_test[['sex_Male', 'sex_Female', 'smoker_Yes','smoker_No']] = x_test[['sex_Male', 'sex_Female', 'smoker_Yes','smoker_No']].replace({True:1, False:0})

In [26]:
x_train.head()

   total_bill  day  time  size  sex_Male  sex_Female  smoker_Yes  smoker_No
0       12.76    1     0     2         0           1           1          0
1       24.71    3     1     2         1           0           0          1
2       21.01    2     0     3         1           0           0          1
3       41.19    3     1     5         1           0           0          1
4       29.80    3     1     6         0           1           0          1

In [27]:
x_test.head()

,cust_id,total_bill,day,time,size,sex_Male,sex_Female,smoker_Yes,smoker_No
0,239,29.03,1,0,3,1,0,0,1
1,238,35.83,1,0,3,0,1,0,1
2,170,50.81,1,0,3,1,0,1,0
3,156,48.17,2,0,6,1,0,0,1
4,134,18.26,3,1,2,0,1,0,1

In [28]:
cust_id = x_test['cust_id'].copy()
# print(cust_id)
x_test = x_test.drop(columns='cust_id')

In [29]:
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train,
                                                   test_size=0.2,
                                                   random_state=2024)

In [30]:
print(x_train.shape)
print(x_val.shape)
print(y_train.shape)
print(y_val.shape)

(156, 8)
(39, 8)
(156, 1)
(39, 1)

In [31]:
from sklearn.ensemble import RandomForestRegressor

rfr= RandomForestRegressor(n_estimators=100, max_depth=20,random_state=2024)
model = rfr.fit(x_train,y_train)
pred = model.predict(x_val)

from sklearn.metrics import r2_score,mean_squared_error
r2_score = r2_score(y_val,pred)
mse = mean_squared_error(y_val,pred)
print(r2_score)
print(mse)
rmse = mse**0.5
print(rmse)

0.48686772047120874
1.1936540438461543
1.092544755992245

C:\Users\admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [32]:
pred2 = model.predict(x_test)

result = pd.DataFrame({'cust_id':cust_id, 'pred':pred2})

print(result)

    cust_id    pred
0       239  3.0991
1       238  3.8455
2       170  5.8146
3       156  7.6186
4       134  3.4271
5       218  1.4344
6        72  2.5491
7       109  2.4452
8       117  1.8615
9        32  2.3004
10       98  3.6497
11      228  2.1708
12        0  3.0273
13      196  2.0430
14      108  3.3494
15       17  2.2119
16      214  2.7058
17        9  2.4215
18      188  3.1728
19      152  2.7346
20      112  4.2859
21      206  2.9772
22      145  1.5225
23       16  2.1955
24       85  5.2463
25       55  2.6890
26      177  2.3309
27      151  2.1880
28      198  1.9468
29      199  2.0079
30        1  1.9580
31       46  3.5817
32      115  2.8838
33       21  2.8782
34       56  3.3360
35       78  2.7727
36       82  1.8060
37       80  2.5589
38      160  3.2692
39       33  3.3646
40       53  1.5467
41       70  2.1292
42      113  3.2845
43      166  3.6798
44       19  3.4780
45      144  2.3571
46      200  2.9094
47      131  2.6595
48      172  1.8954