In [23]:
# travel_insurance 데이터 - 보험가입여부 예측
# 평가지표 : roc_auc_score

In [24]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/travel_insurance_train03.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/travel_insurance_test03.csv')

In [25]:
train.head()

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1704,26,Private Sector/Self Employed,Yes,1400000,3,1,No,Yes,0
1,491,28,Private Sector/Self Employed,Yes,1100000,4,1,No,No,1
2,414,33,Private Sector/Self Employed,Yes,1400000,4,0,No,Yes,1
3,120,28,Private Sector/Self Employed,Yes,800000,3,1,No,No,0
4,1268,33,Government Sector,Yes,1000000,5,0,No,Yes,1

In [26]:
test.head()

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1569,27,Government Sector,Yes,500000,5,0,No,No
1,1344,25,Private Sector/Self Employed,Yes,1700000,3,0,Yes,No
2,1429,32,Government Sector,Yes,650000,3,0,No,No
3,896,33,Government Sector,Yes,600000,4,0,No,No
4,101,33,Private Sector/Self Employed,Yes,1500000,3,1,Yes,Yes

In [27]:
print(train.shape)
print(test.shape)

(1490, 10)
(497, 9)

In [28]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: int64(6), object(4)
memory usage: 116.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.1+ KB
None

In [29]:
print(train.describe())
# print(train.describe(include='object'))

        Unnamed: 0          Age  AnnualIncome  FamilyMembers  ChronicDiseases  \
count  1490.000000  1490.000000  1.490000e+03    1490.000000      1490.000000
mean    998.832886    29.668456  9.386577e+05       4.732215         0.285235
std     573.158458     2.935416  3.731487e+05       1.612608         0.451678
min       0.000000    25.000000  3.000000e+05       2.000000         0.000000
25%     505.250000    28.000000  6.000000e+05       4.000000         0.000000
50%     998.500000    29.000000  9.000000e+05       5.000000         0.000000
75%    1489.750000    32.000000  1.250000e+06       6.000000         1.000000
max    1986.000000    35.000000  1.800000e+06       9.000000         1.000000

       TravelInsurance
count      1490.000000
mean          0.362416
std           0.480859
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000

In [30]:
print(test.describe())

        Unnamed: 0         Age  AnnualIncome  FamilyMembers  ChronicDiseases
count   497.000000  497.000000  4.970000e+02     497.000000       497.000000
mean    975.513078   29.595573  9.150905e+05       4.814889         0.255533
std     575.711054    2.848213  3.876023e+05       1.600762         0.436600
min       2.000000   25.000000  3.000000e+05       2.000000         0.000000
25%     474.000000   28.000000  5.500000e+05       4.000000         0.000000
50%     970.000000   29.000000  9.000000e+05       5.000000         0.000000
75%    1486.000000   32.000000  1.200000e+06       6.000000         1.000000
max    1982.000000   35.000000  1.800000e+06       9.000000         1.000000

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['Employment Type'] = le.fit_transform(train['Employment Type'])
test['Employment Type'] = le.transform(test['Employment Type'])

In [32]:
print(train.head())
print(test.head())

   Unnamed: 0  Age  Employment Type GraduateOrNot  AnnualIncome  \
0        1704   26                1           Yes       1400000
1         491   28                1           Yes       1100000
2         414   33                1           Yes       1400000
3         120   28                1           Yes        800000
4        1268   33                0           Yes       1000000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad  \
0              3                1            No                 Yes
1              4                1            No                  No
2              4                0            No                 Yes
3              3                1            No                  No
4              5                0            No                 Yes

   TravelInsurance
0                0
1                1
2                1
3                0
4                1
   Unnamed: 0  Age  Employment Type GraduateOrNot  AnnualIncome  \
0        1569   27                0           Yes        500000
1        1344   25                1           Yes       1700000
2        1429   32                0           Yes        650000
3         896   33                0           Yes        600000
4         101   33                1           Yes       1500000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
0              5                0            No                  No
1              3                0           Yes                  No
2              3                0            No                  No
3              4                0            No                  No
4              3                1           Yes                 Yes

In [33]:
train['GraduateOrNot'] = le.fit_transform(train['GraduateOrNot'])
test['GraduateOrNot'] = le.transform(test['GraduateOrNot'])

In [34]:
train['FrequentFlyer'] = le.fit_transform(train['FrequentFlyer'])
test['FrequentFlyer'] = le.transform(test['FrequentFlyer'])

In [35]:
train['EverTravelledAbroad'] = le.fit_transform(train['EverTravelledAbroad'])
test['EverTravelledAbroad'] = le.transform(test['EverTravelledAbroad'])

In [36]:
print(train.head())
print(test.head())

   Unnamed: 0  Age  Employment Type  GraduateOrNot  AnnualIncome  \
0        1704   26                1              1       1400000
1         491   28                1              1       1100000
2         414   33                1              1       1400000
3         120   28                1              1        800000
4        1268   33                0              1       1000000

   FamilyMembers  ChronicDiseases  FrequentFlyer  EverTravelledAbroad  \
0              3                1              0                    1
1              4                1              0                    0
2              4                0              0                    1
3              3                1              0                    0
4              5                0              0                    1

   TravelInsurance
0                0
1                1
2                1
3                0
4                1
   Unnamed: 0  Age  Employment Type  GraduateOrNot  AnnualIncome  \
0        1569   27                0              1        500000
1        1344   25                1              1       1700000
2        1429   32                0              1        650000
3         896   33                0              1        600000
4         101   33                1              1       1500000

   FamilyMembers  ChronicDiseases  FrequentFlyer  EverTravelledAbroad
0              5                0              0                    0
1              3                0              1                    0
2              3                0              0                    0
3              4                0              0                    0
4              3                1              1                    1

In [37]:
x = train.drop(columns=['Unnamed: 0','TravelInsurance'])
y = train['TravelInsurance']

from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=2024)

print(x_train.shape, y_train.shape)
print(x_val.shape, y_val.shape)

(1192, 8) (1192,)
(298, 8) (298,)

In [38]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=2024)
model = rfc.fit(x,y)
pred = model.predict(x_val)

In [39]:
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix, classification_report 

acc = accuracy_score(y_val, pred)
roc_auc = roc_auc_score(y_val, pred)
matrix = confusion_matrix(y_val, pred)
report = classification_report(y_val, pred)

print(acc, roc_auc)
print(matrix)
print(report)

0.9463087248322147 0.9313989333072369
[[188   3]
 [ 13  94]]
              precision    recall  f1-score   support

           0       0.94      0.98      0.96       191
           1       0.97      0.88      0.92       107

    accuracy                           0.95       298
   macro avg       0.95      0.93      0.94       298
weighted avg       0.95      0.95      0.95       298

In [40]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(random_state=2024)
model2 = lgbm.fit(x_train,y_train)
pred2 = model2.predict(x_val)

In [41]:
acc2 = accuracy_score(y_val, pred2)
roc_auc2 = roc_auc_score(y_val, pred2)
matrix2 = confusion_matrix(y_val, pred2)
report2 = classification_report(y_val, pred2)

print(acc2, roc_auc2)
print(matrix2)
print(report2)

0.8489932885906041 0.8020502030630718
[[185   6]
 [ 39  68]]
              precision    recall  f1-score   support

           0       0.83      0.97      0.89       191
           1       0.92      0.64      0.75       107

    accuracy                           0.85       298
   macro avg       0.87      0.80      0.82       298
weighted avg       0.86      0.85      0.84       298

In [42]:
id = test.pop('Unnamed: 0')

pred3 = model.predict(test)

In [45]:
pd.DataFrame({'id':id, 'pred':pred3}).to_csv('result.csv', index=False)
result = pd.read_csv('result.csv')
print(result)

       id  pred
0    1569     0
1    1344     1
2    1429     0
3     896     0
4     101     1
..    ...   ...
492  1376     0
493    87     0
494   287     0
495   337     1
496    92     0

[497 rows x 2 columns]