In [ ]:
# 자동차 시장 세분화
# -자동차 회사는 새로운 전략을 수립하기위해 4개의 시장으로 세분화 했습니다.
# 기존고객분류 자료를 바탕으로 신규고객이 어떤분류에 속할지 예측해주세요!
# 예측할값 : Segmentation
# 평가 : Macro f1-Score
# 제출형식 : id,segmentation

In [1]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/train_04.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/test_04.csv')

In [2]:
print(train.head(10))
print(test.head(10))

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare              1.0
1  466315  Female          Yes   67       Yes    Engineer              1.0
2  461735    Male          Yes   67       Yes      Lawyer              0.0
3  461319    Male          Yes   56        No      Artist              0.0
4  460156    Male           No   32       Yes  Healthcare              1.0
5  464347  Female           No   33       Yes  Healthcare              1.0
6  465015  Female          Yes   61       Yes    Engineer              0.0
7  465176  Female          Yes   55       Yes      Artist              1.0
8  464041  Female           No   26       Yes    Engineer              1.0
9  464942    Male           No   19        No  Healthcare              4.0

  Spending_Score  Family_Size  Var_1  Segmentation
0            Low          4.0  Cat_4             4
1            Low          1.0  Cat_6             2
2           High          2.0  Cat_6             2
3        Average          2.0  Cat_6             3
4            Low          3.0  Cat_6             3
5            Low          3.0  Cat_6             4
6            Low          3.0  Cat_7             4
7        Average          4.0  Cat_6             3
8            Low          3.0  Cat_6             1
9            Low          4.0  Cat_4             4
       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  458989  Female          Yes   36       Yes    Engineer              0.0
1  458994    Male          Yes   37       Yes  Healthcare              8.0
2  459000    Male          Yes   59        No   Executive             11.0
3  459003    Male          Yes   47       Yes      Doctor              0.0
4  459005    Male          Yes   61       Yes      Doctor              5.0
5  459008  Female          Yes   47       Yes      Artist              1.0
6  459013    Male          Yes   50       Yes      Artist              2.0
7  459014    Male           No   19        No  Healthcare              0.0
8  459015    Male           No   22        No  Healthcare              0.0
9  459016  Female           No   22        No  Healthcare              0.0

  Spending_Score  Family_Size  Var_1
0            Low          1.0  Cat_6
1        Average          4.0  Cat_6
2           High          2.0  Cat_6
3           High          5.0  Cat_4
4            Low          3.0  Cat_6
5        Average          3.0  Cat_6
6        Average          4.0  Cat_6
7            Low          4.0  Cat_6
8            Low          3.0  Cat_6
9            Low          6.0  Cat_6

In [3]:
print(train.shape, test.shape)

(6665, 11) (2154, 10)

In [4]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2154 non-null   int64
 1   Gender           2154 non-null   object
 2   Ever_Married     2154 non-null   object
 3   Age              2154 non-null   int64
 4   Graduated        2154 non-null   object
 5   Profession       2154 non-null   object
 6   Work_Experience  2154 non-null   float64
 7   Spending_Score   2154 non-null   object
 8   Family_Size      2154 non-null   float64
 9   Var_1            2154 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 168.4+ KB
None

In [5]:
train['Work_Experience'] = train['Work_Experience'].astype('int64')
test['Work_Experience'] = test['Work_Experience'].astype('int64')

In [6]:
train['Family_Size'] = train['Family_Size'].astype('int64')
test['Family_Size'] = test['Family_Size'].astype('int64')

In [7]:
print(train.head(), test.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare                1
1  466315  Female          Yes   67       Yes    Engineer                1
2  461735    Male          Yes   67       Yes      Lawyer                0
3  461319    Male          Yes   56        No      Artist                0
4  460156    Male           No   32       Yes  Healthcare                1

  Spending_Score  Family_Size  Var_1  Segmentation
0            Low            4  Cat_4             4
1            Low            1  Cat_6             2
2           High            2  Cat_6             2
3        Average            2  Cat_6             3
4            Low            3  Cat_6             3          ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  458989  Female          Yes   36       Yes    Engineer                0
1  458994    Male          Yes   37       Yes  Healthcare                8
2  459000    Male          Yes   59        No   Executive               11
3  459003    Male          Yes   47       Yes      Doctor                0
4  459005    Male          Yes   61       Yes      Doctor                5

  Spending_Score  Family_Size  Var_1
0            Low            1  Cat_6
1        Average            4  Cat_6
2           High            2  Cat_6
3           High            5  Cat_4
4            Low            3  Cat_6

In [10]:
print(train['Profession'].unique())
print(test['Profession'].unique())

['Healthcare' 'Engineer' 'Lawyer' 'Artist' 'Doctor' 'Homemaker'
 'Entertainment' 'Marketing' 'Executive']
['Engineer' 'Healthcare' 'Executive' 'Doctor' 'Artist' 'Lawyer'
 'Entertainment' 'Homemaker' 'Marketing']

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['Gender'] = le.fit_transform(train['Gender'])
test['Gender'] = le.transform(test['Gender'])

train['Ever_Married'] = le.fit_transform(train['Ever_Married'])
test['Ever_Married'] = le.transform(test['Ever_Married'])

train['Graduated'] = le.fit_transform(train['Graduated'])
test['Graduated'] = le.transform(test['Graduated'])

train['Profession'] = le.fit_transform(train['Profession'])
test['Profession'] = le.transform(test['Profession'])

train['Var_1'] = le.fit_transform(train['Var_1'])
test['Var_1'] = le.transform(test['Var_1'])

In [12]:
print(train.head())

       ID  Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0  462809       1             0   22          0           5                1
1  466315       0             1   67          1           2                1
2  461735       1             1   67          1           7                0
3  461319       1             1   56          0           0                0
4  460156       1             0   32          1           5                1

  Spending_Score  Family_Size  Var_1  Segmentation
0            Low            4      3             4
1            Low            1      5             2
2           High            2      5             2
3        Average            2      5             3
4            Low            3      5             3

In [13]:
print(test.head())

       ID  Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0  458989       0             1   36          1           2                0
1  458994       1             1   37          1           5                8
2  459000       1             1   59          0           4               11
3  459003       1             1   47          1           1                0
4  459005       1             1   61          1           1                5

  Spending_Score  Family_Size  Var_1
0            Low            1      5
1        Average            4      5
2           High            2      5
3           High            5      3
4            Low            3      5

In [15]:
# train['Spending_Score'].unique()
train['Spending_Score'] = train['Spending_Score'].map({'Low':0, 'Average':1, 'High':2})
test['Spending_Score'] = test['Spending_Score'].map({'Low':0, 'Average':1, 'High':2})

In [17]:
print(train.head())
print(test.head())

       ID  Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0  462809       1             0   22          0           5                1
1  466315       0             1   67          1           2                1
2  461735       1             1   67          1           7                0
3  461319       1             1   56          0           0                0
4  460156       1             0   32          1           5                1

   Spending_Score  Family_Size  Var_1  Segmentation
0               0            4      3             4
1               0            1      5             2
2               2            2      5             2
3               1            2      5             3
4               0            3      5             3
       ID  Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0  458989       0             1   36          1           2                0
1  458994       1             1   37          1           5                8
2  459000       1             1   59          0           4               11
3  459003       1             1   47          1           1                0
4  459005       1             1   61          1           1                5

   Spending_Score  Family_Size  Var_1
0               0            1      5
1               1            4      5
2               2            2      5
3               2            5      3
4               0            3      5

In [22]:
x = train.drop(columns=['ID','Segmentation'])
y = train['Segmentation']

from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(x, y, stratify=y,test_size=0.2, random_state=2024)

print(x_train.shape, y_train.shape)
print(x_val.shape, y_val.shape)

(5332, 9) (5332,)
(1333, 9) (1333,)

In [23]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=2024)
model = rfc.fit(x_train, y_train)
pred = model.predict(x_val)

In [24]:
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report

acc = accuracy_score(y_val, pred)
f1 = f1_score(y_val, pred, average='macro')
matrix = confusion_matrix(y_val, pred)
report = classification_report(y_val, pred)

print(acc, f1)
print(matrix)
print(report)

0.4988747186796699 0.4895790514975847
[[138  85  36  64]
 [ 67 100 107  41]
 [ 39  90 179  36]
 [ 66  20  17 248]]
              precision    recall  f1-score   support

           1       0.45      0.43      0.44       323
           2       0.34      0.32      0.33       315
           3       0.53      0.52      0.52       344
           4       0.64      0.71      0.67       351

    accuracy                           0.50      1333
   macro avg       0.49      0.49      0.49      1333
weighted avg       0.49      0.50      0.49      1333

In [26]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(random_state=2024)
model2 = lgbm.fit(x_train,y_train)
pred2 = model2.predict(x_val)

In [27]:
acc2 = accuracy_score(y_val,pred2)
f1_2 = f1_score(y_val,pred2, average='macro')
matrix = confusion_matrix(y_val,pred2)
report2 = classification_report(y_val, pred2)

print(acc2, f1_2)
print(matrix)
print(report)

0.5333833458364591 0.5197005214064555
[[144  64  45  70]
 [ 61 102 105  47]
 [ 30  60 211  43]
 [ 70  19   8 254]]
              precision    recall  f1-score   support

           1       0.45      0.43      0.44       323
           2       0.34      0.32      0.33       315
           3       0.53      0.52      0.52       344
           4       0.64      0.71      0.67       351

    accuracy                           0.50      1333
   macro avg       0.49      0.49      0.49      1333
weighted avg       0.49      0.50      0.49      1333

In [28]:
id = test.pop('ID')

In [29]:
pred3 = model2.predict(test)

In [30]:
pd.DataFrame({'ID':id, 'Segmentation':pred3}).to_csv('result2.csv',index=False)
result = pd.read_csv('result2.csv')
result

          ID  Segmentation
0     458989             2
1     458994             3
2     459000             3
3     459003             2
4     459005             4
...      ...           ...
2149  467950             1
2150  467954             4
2151  467958             1
2152  467961             2
2153  467968             4

[2154 rows x 2 columns]