In [1]:
'''

문제 1-2.
다음은 연도별 각 범죄의 발생 수 및 검거 수에 대한 자료이다.
각 연도별 최대 검거율(검거율 = 검거수/발생수)을 가진 범죄유형을 찾아
연도 및 해당 범죄유형의 검거수를 모두 더하시오.

'''

'\n\n문제 1-2.\n다음은 연도별 각 범죄의 발생 수 및 검거 수에 대한 자료이다.\n각 연도별 최대 검거율(검거율 = 검거수/발생수)을 가진 범죄유형을 찾아\n연도 및 해당 범죄유형의 검거수를 모두 더하시오.\n\n'

In [2]:
#### 데이터 복사영역(수정금지)####
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "연도": [2022, 2022, 2023, 2023, 2024, 2024],
    "구분": ["검거수", "발생수", "검거수", "발생수", "검거수", "발생수"],
    "범죄1": [95, 97, 48, 43, 18, 35],
    "범죄2": [11, 12, 20, 7, 4, 82],
    "범죄3": [55, 64, 17, 83, 19, 42]
})
#### 데이터 복사영역(수정금지)####

In [3]:
# 검거수, 발생수 기준으로 필터링
df1 = df[df['구분'] == '검거수']
df2 = df[df['구분'] == '발생수']
print(df1)
print(df2)

     연도   구분  범죄1  범죄2  범죄3
0  2022  검거수   95   11   55
2  2023  검거수   48   20   17
4  2024  검거수   18    4   19
     연도   구분  범죄1  범죄2  범죄3
1  2022  발생수   97   12   64
3  2023  발생수   43    7   83
5  2024  발생수   35   82   42

In [4]:
# 데이터를 '연도' 기준으로 병합
merged_df = pd.merge(df1, df2, on='연도')  # suffixes=('_검거수', '_발생수')
merged_df

     연도 구분_x  범죄1_x  범죄2_x  범죄3_x 구분_y  범죄1_y  범죄2_y  범죄3_y
0  2022  검거수     95     11     55  발생수     97     12     64
1  2023  검거수     48     20     17  발생수     43      7     83
2  2024  검거수     18      4     19  발생수     35     82     42

In [5]:
# 각 연도별 검거율 계산
# 주의 : for i in range(a, b) : 에서 b는 포함되지 않음.
for i in range(1, 4):
    merged_df[f'범죄{i}_검거율'] = merged_df[f'범죄{i}_x'] / merged_df[f'범죄{i}_y']
    
merged_df

,연도,구분_x,범죄1_x,범죄2_x,범죄3_x,구분_y,범죄1_y,범죄2_y,범죄3_y,범죄1_검거율,범죄2_검거율,범죄3_검거율
0,2022,검거수,95,11,55,발생수,97,12,64,0.979381,0.916667,0.859375
1,2023,검거수,48,20,17,발생수,43,7,83,1.116279,2.857143,0.204819
2,2024,검거수,18,4,19,발생수,35,82,42,0.514286,0.048780,0.452381

In [6]:
# 최대검거율 유형의 범죄 찾기
merged_df['최대검거율유형'] = merged_df[[f'범죄{i}_검거율' for i in range (1,4)]].idxmax(axis=1)
merged_df

,연도,구분_x,범죄1_x,범죄2_x,범죄3_x,구분_y,범죄1_y,범죄2_y,범죄3_y,범죄1_검거율,범죄2_검거율,범죄3_검거율,최대검거율유형
0,2022,검거수,95,11,55,발생수,97,12,64,0.979381,0.916667,0.859375,범죄1_검거율
1,2023,검거수,48,20,17,발생수,43,7,83,1.116279,2.857143,0.204819,범죄2_검거율
2,2024,검거수,18,4,19,발생수,35,82,42,0.514286,0.048780,0.452381,범죄1_검거율

In [7]:
# 범죄유형만 따로 골라내기
merged_df['최대검거율유형'] = merged_df['최대검거율유형'].str.split('_').str.get(0)
# merged_df['최대검거율유형] = merged_df['최대검거율유형].str.replace('_검거율', '')
merged_df

,연도,구분_x,범죄1_x,범죄2_x,범죄3_x,구분_y,범죄1_y,범죄2_y,범죄3_y,범죄1_검거율,범죄2_검거율,범죄3_검거율,최대검거율유형
0,2022,검거수,95,11,55,발생수,97,12,64,0.979381,0.916667,0.859375,범죄1
1,2023,검거수,48,20,17,발생수,43,7,83,1.116279,2.857143,0.204819,범죄2
2,2024,검거수,18,4,19,발생수,35,82,42,0.514286,0.048780,0.452381,범죄1

In [8]:
# 검거율이 가장 높은 범죄 유형의 검거수 구하기

# 방법1 (apply + lambda)
merged_df['최종검거수'] = merged_df.apply(lambda x : x[f"{x['최대검거율유형']}_x"], axis=1)

# 방법2 (리스트 컴프리헨션)
merged_df['최종검거수1'] = [merged_df.loc[i, merged_df.loc[i, '최대검거율유형'] + '_x'] for i in range(len(merged_df))]

merged_df

,연도,구분_x,범죄1_x,범죄2_x,범죄3_x,구분_y,범죄1_y,범죄2_y,범죄3_y,범죄1_검거율,범죄2_검거율,범죄3_검거율,최대검거율유형,최종검거수,최종검거수1
0,2022,검거수,95,11,55,발생수,97,12,64,0.979381,0.916667,0.859375,범죄1,95,95
1,2023,검거수,48,20,17,발생수,43,7,83,1.116279,2.857143,0.204819,범죄2,20,20
2,2024,검거수,18,4,19,발생수,35,82,42,0.514286,0.048780,0.452381,범죄1,18,18

In [10]:
# 연도 및 해당 범죄유형의 검거수를 모두 더하시오.
a = merged_df['연도'].sum()
b = merged_df['최종검거수'].sum()
print(a)
print(b)
print(a+b)

6069
133
6202