In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')

In [2]:
# 고객 구매 데이터를 사용해서 고객이 주문한 물품이 제 시간에 도착여부('Reached.on.Time_Y.N') 예측
# x_train.csv, y_train.csv: 학습 및 학슴평가에 사용하는 파일
# roc_auc_score를 사용하여 평가
# 아래의 형식으로 submission수험번호.csv로 저장 
# Reached.on.Time_Y.N은 제 시간에 도착할 확률

In [3]:

x_train, x_test = train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train[['Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test[['Reached.on.Time_Y.N']]
x_test = x_test.drop(columns='Reached.on.Time_Y.N')
x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False)

In [4]:
x_train.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
9901,9902,F,Ship,3,5,214,2,medium,F,6,4578
9500,9501,A,Ship,4,2,201,3,medium,F,4,4613
6110,6111,A,Ship,4,2,264,3,low,M,10,5137
587,588,F,Ship,3,5,194,2,medium,M,4,3496
10805,10806,F,Road,5,5,269,5,medium,F,3,1120

In [5]:
y_train.head()

       Reached.on.Time_Y.N
9901                     0
9500                     0
6110                     1
587                      1
10805                    0

In [6]:
x_test.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
7006,7007,C,Ship,4,1,238,3,high,F,4,4910
9792,9793,D,Ship,4,2,245,3,medium,M,1,4731
6592,6593,C,Flight,7,4,272,4,low,M,3,1805
10526,10527,A,Road,4,1,204,6,low,M,1,4943
6913,6914,F,Ship,5,5,256,5,medium,M,2,1693

In [7]:
print(x_train.shape, y_train.shape)
print(x_test.shape)

(6599, 11) (6599, 1)
(4400, 11)

In [8]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6599 entries, 9901 to 4080
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6599 non-null   int64
 1   Warehouse_block      6599 non-null   object
 2   Mode_of_Shipment     6599 non-null   object
 3   Customer_care_calls  6599 non-null   int64
 4   Customer_rating      6599 non-null   int64
 5   Cost_of_the_Product  6599 non-null   int64
 6   Prior_purchases      6599 non-null   int64
 7   Product_importance   6599 non-null   object
 8   Gender               6599 non-null   object
 9   Discount_offered     6599 non-null   int64
 10  Weight_in_gms        6599 non-null   int64
dtypes: int64(7), object(4)
memory usage: 618.7+ KB

In [9]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4400 entries, 7006 to 10251
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4400 non-null   int64
 1   Warehouse_block      4400 non-null   object
 2   Mode_of_Shipment     4400 non-null   object
 3   Customer_care_calls  4400 non-null   int64
 4   Customer_rating      4400 non-null   int64
 5   Cost_of_the_Product  4400 non-null   int64
 6   Prior_purchases      4400 non-null   int64
 7   Product_importance   4400 non-null   object
 8   Gender               4400 non-null   object
 9   Discount_offered     4400 non-null   int64
 10  Weight_in_gms        4400 non-null   int64
dtypes: int64(7), object(4)
memory usage: 412.5+ KB

In [10]:
x_train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [11]:
y_train.isnull().sum()

Reached.on.Time_Y.N    0
dtype: int64

In [12]:
x_test.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [13]:
x_train = x_train.drop(columns='ID')
x_test = x_test.drop(columns='ID')

In [14]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

x_train['Warehouse_block'] = le.fit_transform(x_train['Warehouse_block'])
x_test['Warehouse_block'] = le.transform(x_test['Warehouse_block'])

In [15]:
x_train['Mode_of_Shipment'] = le.fit_transform(x_train['Mode_of_Shipment'])
x_test['Mode_of_Shipment'] = le.transform(x_test['Mode_of_Shipment'])

In [16]:
x_train.head()
x_test.head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
7006,2,2,4,1,238,3,high,F,4,4910
9792,3,2,4,2,245,3,medium,M,1,4731
6592,2,0,7,4,272,4,low,M,3,1805
10526,0,1,4,1,204,6,low,M,1,4943
6913,4,2,5,5,256,5,medium,M,2,1693

In [17]:
x_train['Gender'] = x_train['Gender'].replace(['M','F'],[0,1])
x_test['Gender'] = x_test['Gender'].replace(['M','F'],[0,1])

C:\Users\admin\AppData\Local\Temp\ipykernel_16268\1740107814.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x_train['Gender'] = x_train['Gender'].replace(['M','F'],[0,1])
C:\Users\admin\AppData\Local\Temp\ipykernel_16268\1740107814.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x_test['Gender'] = x_test['Gender'].replace(['M','F'],[0,1])

In [18]:
x_train['Product_importance'] = x_train['Product_importance'].replace(['low','medium','high'],[0,1,2])
x_test['Product_importance'] = x_test['Product_importance'].replace(['low','medium','high'],[0,1,2])

C:\Users\admin\AppData\Local\Temp\ipykernel_16268\877668462.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x_train['Product_importance'] = x_train['Product_importance'].replace(['low','medium','high'],[0,1,2])
C:\Users\admin\AppData\Local\Temp\ipykernel_16268\877668462.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x_test['Product_importance'] = x_test['Product_importance'].replace(['low','medium','high'],[0,1,2])

In [19]:
# x_train
# x_test

In [20]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.1, stratify=y_train, random_state=0)
print(x_train.shape)
print(x_val.shape)
print(y_train.shape)
print(y_val.shape)

(5939, 10)
(660, 10)
(5939, 1)
(660, 1)

In [21]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=0)
model = rfc.fit(x_train, y_train)
pred = model.predict(x_val)

C:\Users\admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [22]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score

acc = accuracy_score(y_val, pred)
matrix = confusion_matrix(y_val, pred)
report = classification_report(y_val,pred)
roc_auc = roc_auc_score(y_val,pred)

print(acc)
print(matrix)
print(report)
print(roc_auc)

0.6712121212121213
[[193  73]
 [144 250]]
              precision    recall  f1-score   support

           0       0.57      0.73      0.64       266
           1       0.77      0.63      0.70       394

    accuracy                           0.67       660
   macro avg       0.67      0.68      0.67       660
weighted avg       0.69      0.67      0.67       660

0.6800408381359491

In [23]:
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth':[50,100,150], 'min_samples_split':[5,10]}

gridsearch = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, n_jobs=-1)
model2 = gridsearch.fit(x_train, y_train)
pred2 = model2.predict(x_val)

print(gridsearch.best_score_)
print(gridsearch.best_params_)

C:\Users\admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.6571827514119005
{'max_depth': 50, 'min_samples_split': 10}

In [24]:
pred3 = model.predict(x_test)

acc = accuracy_score(y_test, pred3)
matrix = confusion_matrix(y_test, pred3)
report = classification_report(y_test, pred3)
roc_auc = roc_auc_score(y_test, pred3)

print(acc)
print(matrix)
print(report)
print(roc_auc)

0.6588636363636363
[[1253  522]
 [ 979 1646]]
              precision    recall  f1-score   support

           0       0.56      0.71      0.63      1775
           1       0.76      0.63      0.69      2625

    accuracy                           0.66      4400
   macro avg       0.66      0.67      0.66      4400
weighted avg       0.68      0.66      0.66      4400

0.6664815560026828