In [1]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test.csv')

print(train.head())
print(test.head())

       model  year  price transmission  mileage fuelType  tax   mpg  \
0    A Class  2012  11940    Automatic    46000   Diesel   30  64.2
1   CL Class  2020  38624    Semi-Auto       19   Petrol  150  36.7
2    A Class  2013   8500       Manual    69031   Petrol  125  51.4
3    B Class  2015  13998    Automatic    34739   Diesel  125  56.5
4    E Class  2017  20998    Semi-Auto    21352   Diesel   20  72.4

   engineSize
0         2.1
1         2.0
2         1.6
3         2.1
4         2.0
       model  year transmission  mileage fuelType  tax   mpg  engineSize
0        SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1    S Class  2017    Automatic    27000   Hybrid   20  61.4         2.1
2   SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5
3    G Class  2016    Automatic    16000   Petrol  325  30.4         4.0
4    G Class  2016    Automatic     4000   Petrol  325  30.1         4.0

In [2]:
print(train.shape)
print(test.shape)

(9823, 9)
(13119, 8)

In [3]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9823 entries, 0 to 9822
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         9823 non-null   object
 1   year          9823 non-null   int64
 2   price         9823 non-null   int64
 3   transmission  9823 non-null   object
 4   mileage       9823 non-null   int64
 5   fuelType      9823 non-null   object
 6   tax           9823 non-null   int64
 7   mpg           9823 non-null   float64
 8   engineSize    9823 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 690.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13119 entries, 0 to 13118
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         13119 non-null  object
 1   year          13119 non-null  int64
 2   transmission  13119 non-null  object
 3   mileage       13119 non-null  int64
 4   fuelType      13119 non-null  object
 5   tax           13119 non-null  int64
 6   mpg           13119 non-null  float64
 7   engineSize    13119 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 820.1+ KB
None

In [4]:
train['transmission'].unique()

array(['Automatic', 'Semi-Auto', 'Manual', 'Other'], dtype=object)

In [5]:
test['transmission'].unique()

array(['Automatic', 'Manual', 'Semi-Auto', 'Other'], dtype=object)

In [6]:
train = train.select_dtypes(exclude='object')
test = test.select_dtypes(exclude='object')

In [8]:
x = train.drop(columns='price')
y = train['price']

from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=2024)

print(x_train.shape, y_train.shape)
print(x_val.shape, y_val.shape)

(7858, 5) (7858,)
(1965, 5) (1965,)

In [9]:

from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(random_state=2024)
model = rfr.fit(x_train, y_train)
pred = model.predict(x_val)

In [13]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, pred)
rmse = mse ** 0.5
r2_score = r2_score(y_val, pred)

print(mse, rmse, r2_score)

16025412.620481111 4003.1753172301997 0.8906710915561156

In [ ]:
from lightgbm import LGBMRegressor

lgbm = LGBMRegressor(random_state=2024)
model2 = lgbm.fit(x_train, y_train)
pred2 = model2.predict(x_val)

In [12]:
from sklearn.metrics import mean_absolute_error, r2_score

mae = mean_absolute_error(y_val, pred)
r2_score2 = r2_score(y_val, pred)

print(mae, r2_score2)

2155.3173738732594 0.8906710915561156

In [14]:
pred3 = model.predict(test)

pred3

array([ 4658.6 , 29824.21, 62658.3 , ..., 31132.63, 37208.48, 57080.54])

In [16]:
pd.DataFrame({'price': pred3}).to_csv('result3.csv',index=False)
result = pd.read_csv('result3.csv')
result

              price
0       4658.600000
1      29824.210000
2      62658.300000
3      59687.850000
4      73280.640000
...             ...
13114  27882.100000
13115  26829.170667
13116  31132.630000
13117  37208.480000
13118  57080.540000

[13119 rows x 1 columns]