In [1]:
# 모의고사 2유형
# 2유형 2번(당뇨 진척정도 예측)
# 다음은 당뇨 환자에게서 얻은 데이터셋이다.
# 학습 데이터(train)를 이용하여 환자의 당뇨 진척 정도를 예측하는 모델을
# 개발하고 해당 모델을 기반으로 평가 데이터(test)를 적용하여 얻은 예측결과를
# 아래 제출 양식에 맞추어 CSV 파일로 제출하시오.
# 예측결과는 Rsq, MSE 지표로 평가하시오.
# 제출형식 (아래 예시)
# csv파일명 : result.csv
# 예측 진척정도 칼럼명 : pred
# 제출 칼럼 개수 : pred 칼럼 1개 (아래)

# 데이터 설명
# 1. 변수설명
# 환자번호 : cust_id 칼럼
# 종속변수(Y) : target 칼럼
# 독립변수(X) : 그 외 칼럼
# 1. 학습/평가 데이터
# train : 학습 데이터
# test : 평가 데이터(taget 변수 제외)
# y_test : 평가 데이터(target 변수 only) / 단, 실제 시험에서는 주어지지 않음

In [2]:
###############  실기환경 복사 영역  ###############
import pandas as pd
import numpy as np
# 실기 시험 데이터셋으로 셋팅하기 (수정금지)
from sklearn.datasets import load_diabetes
# diabetes 데이터셋 로드
diabetes = load_diabetes()
X, y = load_diabetes(return_X_y= True, as_frame=True)

# 실기 시험 데이터셋으로 셋팅하기 (수정금지)
from sklearn.model_selection import train_test_split
x_tr, x_te, y_tr, y_te = train_test_split(X, y, test_size=0.2,
                                          random_state=2024)
test = pd.DataFrame(x_te)
x_tr = pd.DataFrame(x_tr)
y_tr = pd.DataFrame(y_tr)
y_tr.columns = ['target'] 
y_test = pd.DataFrame(y_te)
train = pd.concat([y_tr, x_tr], axis=1)
train = train.reset_index().rename(columns={'index':'cust_id'})
test = test.reset_index().rename(columns={'index':'cust_id'})
train['sex'] = np.where(train['sex']>0, 'F', 'M')
test['sex'] = np.where(test['sex']>0, 'F', 'M')
train.loc[0:2, 'age'] = np.nan
test.loc[0:2, 'age'] = np.nan
###############  실기환경 복사 영역  ###############

In [3]:
train.head()

,cust_id,target,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,424,111.0,NaN,F,0.011039,-0.019442,-0.016704,-0.003819,-0.047082,0.034309,0.024055,0.023775
1,121,173.0,NaN,M,0.017506,0.021872,0.008063,0.021546,-0.036038,0.034309,0.019907,0.011349
2,15,171.0,NaN,F,-0.018062,0.080401,0.089244,0.107662,-0.039719,0.108111,0.036060,-0.042499
3,5,97.0,-0.092695,M,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041176,-0.096346
4,21,49.0,-0.085430,F,-0.022373,0.001215,-0.037344,-0.026366,0.015505,-0.039493,-0.072133,-0.017646

In [4]:
test.head()

,cust_id,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,334,NaN,F,-0.047163,-0.022885,-0.071743,-0.057681,-0.006584,-0.039493,-0.062917,-0.054925
1,313,NaN,F,0.053074,0.052858,0.032830,0.019667,-0.010266,0.034309,0.055203,-0.001078
2,133,NaN,F,-0.053630,-0.040099,-0.084126,-0.071772,-0.002903,-0.039493,-0.072133,-0.030072
3,152,-0.034575,F,-0.000817,0.070072,0.039710,0.066952,-0.065491,0.108111,0.026717,0.073480
4,250,0.067136,M,0.056307,0.073515,-0.013953,-0.039205,-0.032356,-0.002592,0.075741,0.036201

In [5]:
train.shape

(353, 12)

In [6]:
test.shape

(89, 11)

In [7]:
print(train.isnull().sum())

cust_id    0
target     0
age        3
sex        0
bmi        0
bp         0
s1         0
s2         0
s3         0
s4         0
s5         0
s6         0
dtype: int64

In [8]:
print(test.isnull().sum())

cust_id    0
age        3
sex        0
bmi        0
bp         0
s1         0
s2         0
s3         0
s4         0
s5         0
s6         0
dtype: int64

In [9]:
median1 = train['age'].median()
median2 = test['age'].median()

train['age'] = train['age'].fillna(median1)
test['age'] = test['age'].fillna(median2)

In [10]:
print(train.isnull().sum())
print(test.isnull().sum())

cust_id    0
target     0
age        0
sex        0
bmi        0
bp         0
s1         0
s2         0
s3         0
s4         0
s5         0
s6         0
dtype: int64
cust_id    0
age        0
sex        0
bmi        0
bp         0
s1         0
s2         0
s3         0
s4         0
s5         0
s6         0
dtype: int64

In [11]:
train['sex'] = train['sex'].replace('M',0)
train['sex'] = train['sex'].replace('F',1)

In [12]:
from sklearn.model_selection import train_test_split

x = train.drop(columns=['cust_id','target'])
y = train['target']
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=2024)

print(x_train.shape)
print(y_train.shape)
print(x_val.shape)
print(y_val.shape)

(282, 10)
(282,)
(71, 10)
(71,)

In [13]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(random_state=2024)
model = rfr.fit(x_train, y_train)
pred = model.predict(x_val)

In [15]:
from sklearn.metrics import r2_score, mean_squared_error

r2 = r2_score(y_val, pred)
mse = mean_squared_error(y_val, pred)

print(r2, mse)

0.584228451771348 2851.524914084507

In [18]:
x_test = test.drop(columns=['cust_id'])
cust_id = test['cust_id']

In [19]:
x_test.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,-0.001882,F,-0.047163,-0.022885,-0.071743,-0.057681,-0.006584,-0.039493,-0.062917,-0.054925
1,-0.001882,F,0.053074,0.052858,0.032830,0.019667,-0.010266,0.034309,0.055203,-0.001078
2,-0.001882,F,-0.053630,-0.040099,-0.084126,-0.071772,-0.002903,-0.039493,-0.072133,-0.030072
3,-0.034575,F,-0.000817,0.070072,0.039710,0.066952,-0.065491,0.108111,0.026717,0.073480
4,0.067136,M,0.056307,0.073515,-0.013953,-0.039205,-0.032356,-0.002592,0.075741,0.036201

In [20]:
x_test['sex'] = x_test['sex'].replace('M',0)
x_test['sex'] = x_test['sex'].replace('F',1)

In [22]:
pred2 = model.predict(x_test)


r2 = r2_score(y_test, pred2)
mse = mean_squared_error(y_test, pred2)

print(r2, mse)

0.48709310473636735 3199.9673887640447